{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-nested-pattern": "^&",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ]
  }
}